{% extends "base.html" %}

{% block title %} Add Entry {% endblock %}

{% block head %}
  
  <style>

    .row {
      margin-bottom: 10px;
    }

  </style>

  <script>
    $("document").ready(function(){
        $("#debtors_table").DataTable();
        $("#debtors_table2").DataTable();

        $(".select_debtor").click(function(){
            var name=$(this).text();
            $("#ar_buyer_name").val(name);
        });

        var previous_form = "initial";

        $("[name='account_selector']").on('change', function(){
        var current_form = this.value.toLowerCase();
        current_form = current_form.split(" ");
        var temp="";

        for (var x=0; x<current_form.length; x++){
            if(x==current_form.length-1){
                temp += current_form[x];
            break;
            }
            temp += current_form[x]+"_";
        }

        current_form = temp;
        $("#"+previous_form+"_form").css("display","none");
        // $("#main_form").attr("action","/entry/"+current_form+"/");
        $("#"+current_form+"_form").css("display","unset");
        previous_form = current_form;
       });
    });
  </script>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="form-group">
        
        <div class="row">
            <div class="col-lg-3">
                <h2>Add Entry</h2>
            </div>
            <div class="col-lg-9">
                <select name="account_selector" class="form-control">
                {% for account in accounts %}
                <option val={{account.name}}>{{account.name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <hr/>
    </div>

    <form id="initial_form" action="{% url 'entry:add_account_receivable' %}" method="post">
        {% csrf_token %}
            <div class="form-group">

                    <!-- FORMS SELECTOR -->
                                    
                  <div class="row">
                  <div class="col-lg-3">
                      Date of transaction
                      {{account_receivable.date}}
                  </div>
                  <div class="col-lg-2">
                      Charge Invoice
                      {{account_receivable.documentNumber}}
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-12">
                      {{account_receivable.buyer}}
                  </div>
                  </div>

                  <div class="row">
                  <div class="col-lg-5">
                      {{account_receivable.amount}}
                  </div>
                  </div>

                  <div class="row">
                  <div class="col-lg-10">
                  </div>

                  <div class="col-lg-2">
                      <button type="submit" class="btn btn-success form-control">
                          submit
                      </button>
                  </div>
                  </div>


            </div>

    </form>

    <!-- FORMS INSERTED HERE DURING PAGELOAD -->

    {% for filename in template_filenames %}
        {% include filename %}
    {% endfor %}


</div>



{% endblock %}