{% extends "base.html" %}

{% block title %} Add Entry {% endblock %}

{% block head %}
  
  <style>

    .row {
      margin-bottom: 10px;
    }

  </style>

  <script>
    $("document").ready(function(){
      alert("{{myarray}}");
      alert("{{chu}}");


      $("#add_item").click(function(){

        var item_name = $("[name='item_name']").val();
        var quantity = $("[name='quantity']").val();
        var price = $("[name='price']").val();
        var amount = quantity*price;

        if(item_name!="" && quantity!="" && amount!=""){
          $("#forms").append("<input type='text' style='display:none;' id='testID' name='item1' value='"+item_name+'^'+quantity+'^'+amount+"'>");
          $("tbody").append("<tr><td>"+item_name+"</td><td>"+quantity+"</td><td>"+price+"</td><td>"+amount+"</td></tr>");

          $("[name='item_name']").val("");
          $("[name='quantity']").val("");
          $("[name='price']").val("");

        }else{
          alert("Invalid Input: please complete the form to add item");
        }



      });

      $("[name='account_selector']").on('change', function(){
        var current_form = this.value.toLowerCase();
        current_form = current_form.split(" ");
        var temp="";

        for (var x=0; x<current_form.length; x++){
    	    if(x==current_form.length-1){
        	  temp += current_form[x]+".html";
            break;
          }
    	    temp += current_form[x]+"_";
        }

        current_form = temp;
        alert(current_form);
        $("#forms").load( "/static/"+current_form );
      });
    });
  </script>

{% endblock %}

{% block body %}

<div class="container-fluid">
  
  <form action="{% url 'entry:transaction' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
        

          <div class="row">
            <div class="col-lg-3">
              <h2>Add Entry</h2>
            </div>
            <div class="col-lg-9">
              <select name="account_selector" class="form-control">
                {% for account in accounts %}
                <option val={{account.name}}>{{account.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>


          <hr/>
          <!-- FORMS SECTION -->
          <div id="forms" style="display:unset;">
            
            <div class="row">
              <div class="col-lg-3">
                  Date of transaction
                  {{form.date}}
              </div>
              <div class="col-lg-2">
                  Charge Invoice
                  {{form.documentNumber}}
              </div>
            </div>


            <div class="row">
              <div class="col-lg-12">
                {{form.buyer}}
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6">
                {{form.item}}
              </div>
              <div class="col-lg-2">
                {{form.quantity}}
              </div>
              <div class="col-lg-2">
                <input type="number" name="price" class="form-control" placeholder="Price">
              </div>
              <div class="col-lg-2">
                <button id="add_item" value="asdf" type="button" class="btn btn-success form-control">Add item</button>
              </div>
            </div>


            <div class="row" style="margin-top:25px;">

              <div class="col-lg-12">
                  <table name="mytable" class="table table-hover table-bordered" style="border:1px solid #ced4da;">
                      
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th style="width:10%;">Qty</th>
                          <th style="width:15%;">Price</th>
                          <th style="width:20%;">Amount</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>A</td>
                          <td>B</td>
                          <td>C</td>
                          <td>D</td>
                        </tr>
                        <!-- <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr> -->
                      </tbody>

                  </table>
              </div>          
            </div>


            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-2">
                <button class="btn btn-default form-control">
                  cancel
                </button>
              </div>
              <div class="col-lg-2">
                  <button type="submit" class="btn btn-success form-control">
                    submit
                  </button>
              </div>
            </div>

            <!-- TESTING ZONE hahaha -->

            <!-- <div class="row">
              <div class="col-lg-12">
                {{form.documentNumber}}
              </div>
            </div> -->

          </div>
        </div>

  </form>

</div>



{% endblock %}