<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "cdj_acc/static/css/bootstrap.css" %}">
        <script src="{% static "cdj_acc/static/script/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "cdj_acc/static/script/popper.js" %}"></script>
        <script src="{% static "cdj_acc/static/script/bootstrap.min.js" %}"></script>
    </head>

    <body>
        <div class="container">
            <button class="btn btn-primary">charot button</button>
        </div>
    </body>
</html>