<html>
    <body>
        <!-- FORMS SECTION -->
        <form id="loans_receivable_form" action="{% url 'entry:add_loans_receivable' %}" method="post" style="display:none;">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-3">
                        Date of transaction
                        {{loans_receivable.date}}
                    </div>
                    <div class="col-lg-3">
                        Cash Voucher No.
                        {{loans_receivable.documentNumber}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        {{loans_receivable.firstname}}
                    </div>
                    <div class="col-lg-4">
                        {{loans_receivable.middlename}}
                    </div>
                    <div class="col-lg-4">
                        {{loans_receivable.lastname}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {{loans_receivable.amountApplied}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        &nbsp;Type of Loan
                        {{loans_receivable.loanType}}
                    </div>
                    <div class="col-lg-2">
                        &nbsp;Mode of Payment
                        {{loans_receivable.modeOfPayment}}
                    </div>
                    <div class="col-lg-2">
                        &nbsp;Terms of Payment
                        {{loans_receivable.termsOfPaymentYear}}
                    </div>
                    <div class="col-lg-2">
                        &nbsp;
                        {{loans_receivable.termsOfPaymentMonth}}
                    </div>
                    <div class="col-lg-2">
                        &nbsp;
                        {{loans_receivable.termsOfPaymentDay}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            {{loans_receivable.interestRate}}
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        {{loans_receivable.methodOfInterest}}
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            {{loans_receivable.serviceFee}}
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                           {{loans_receivable.penaltyRate}}
                           <div class="input-group-append">
                               <span class="input-group-text">%</span>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-success form-control">
                            submit
                        </button>
                    </div>
                </div>

                <hr/>
        </form>

                <!-- The Modal -->
                <div class="modal" id="LoansReceivable_modal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Loans</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">

                                <table id="loans_table" class="table table-striped table-bordered" style="width:100%;">
                        
                                    <thead>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Middlename</th>
                                            <th>Lastname</th>
                                            <th>Type of Loan</th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                        {% for borrower in loans_list %}
                                        <tr class="select_borrower2" data-dismiss="modal">
                                            <td>{{borrower.0}}</td>
                                            <td>{{borrower.1}}</td>
                                            <td>{{borrower.2}}</td>
                                            <td>{{borrower.3}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Firstname</th>
                                            <th>Middleename</th>
                                            <th>Lastname</th>
                                            <th>Type of Loan</th>
                                        </tr>
                                    </tfoot>
                
                                </table>                        
                
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
    

    </body>
</html>